<!DOCTYPE html>
<html lang = "{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
    {% seo %}
        <link rel = "stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <div class = "wrapper">
            <header>
                <style>
                    header img { width: 240px; min-width: 180px; }
                    header { width: 30%; max-width: 320px; min-width: 180px; }
                    section { width: 60%; float: right; }
                    @media screen and (max-width: 960px) { 
                        header { width: 100%; min-width: 180px; float: none; }
                        section { width: 100%; float: none; } }
                </style>
                <h1><a href = "{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
                <img src = "{{ site.profile_photo | relative_url }}" alt = "{{ site.title }}" /> 
                <br> <br>
                <p>{{ site.tagline }}</p>
                <p>{{ site.affiliation }} <br> {{ site.location }}</p>
                <p>emaail: {{ site.email }}</p>
                <p class = "view"><a href = "./cv.pdf"> Curriculum Vitae </a></p>
            </header>
            <section>

                {{ content }}

            </section>
            <footer></footer>
        </div>
        <script src = "{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </body>
</html>
